h3{
    font-weight: 500;
}
.principal-row{
    padding-top: 25px;
}

.col-aside{
    width: 20%;
    padding: 30px;
}
.col-department{
    max-width: 70%;
    min-width: 60%;
}
.manager-picture{
    max-width: 350px;
    height: 300px;
    border-radius: 0.4rem;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.3);
}
.btn-submit{
    background-color: #466f9c;
    font-size: 15px;
    color: white;
    padding: 10px;
    transition: 0.2s;
}
.btn-submit:hover{
    color: white;
    background-color: #6396cf;
}
.departments.view.content{
    padding: 4rem;
}
#manager-info{
    margin:auto;
}

table {
 border-top: 1px #e1e1e1 solid;
 margin-top: 20px;
}

.col-employee{
    max-width: 70%;
    min-width: 60%;
}
