body {
    scroll-behavior: smooth;
}


@media (min-width: 640px){
    .row {
        flex-direction: row;
        margin-left: 0rem;
        width: 100%;
    }
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    z-index: 20;
    box-shadow: 1px -1px 38px -3px rgba(117, 117, 117, 0.62);
    -webkit-box-shadow: 1px -1px 38px -3px rgba(117, 117, 117, 0.62);
    -moz-box-shadow: 1px -1px 38px -3px rgba(117, 117, 117, 0.62);
}

#logo-menu {
    margin: 0 0 5px;
    height: 70px;
    width: auto;
}

#navbarSupportedContent ul a {
    border-bottom: solid 1px blue;
    margin-right: 20px;
    padding-bottom: 0px;
}

.content-home {
    background: none;
    padding: 0px;
}

#div1 {
    background-image: url('../img/employee.jpg');
    height: 600px;
    background-position: center;
    padding: 120px;
    box-shadow: 1px -1px 43px 1px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 1px -1px 43px 1px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 1px -1px 43px 1px rgba(0, 0, 0, 0.51);
    position: relative;
    z-index: 10;
}

.btn-home {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    background: darkblue;
    color: #fff;
    padding: 15px 35px;
    border-color: transparent;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 10pt;
}

.btn:hover {
    border-color: transparent;
    background-color: grey;
    transition: 0.3s;
}

#div2 {
    background-color: #455A64;
    color: white;
    height: 600px;
    padding: 40px;
}

#div2-1 {
    background-image: url('../img/department.jpg');
    background-position: center;
    -webkit-box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.26);
}

#div2-2 > h2, #div2-2 > h1 {
    color: white !important;
}

#div2-2 {
    margin: auto;
    padding-left: 55px;
}

#div3 {
    background-image: url('../img/departments.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 1px -1px 43px 8px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 1px -1px 43px 8px rgba(0, 0, 0, 0.50);
}

#div3-1 {
    background-color: white;
    opacity: 0.9;
    margin: auto;
    height: 500px;
    color: black;
    text-align: center;
    padding-top: 110px;
}

#div4 {
    height: 500px;
    background: rgb(255, 160, 181);
    background: linear-gradient(90deg, rgba(255, 160, 181, 1) 0%, rgba(194, 108, 121, 1) 48%, rgba(214, 60, 82, 1) 100%);
    color: white;
    padding: 30px 30px 30px 50px;

}

#div4-2 {
    background-image: url('../img/women-at-work.jpg');
    background-size: cover;
    -webkit-box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.26);
}

#div4-1 {
    margin: auto;
}

#div4 {
    background: linear-gradient(-45deg, #9a94ed, #8f6ec8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#div5 {
    padding: 50px;
    box-shadow: 1px -1px 43px 8px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 1px -1px 43px 8px rgba(0, 0, 0, 0.51);
}

#divCadre {
    background-color: transparent;
    margin: auto;
}

.articles {
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: auto;
    padding: 15px;
    width: 22% !important;
    height: 500px;
    position: relative;

}

.articles p {
    font-size: 9pt;
    color: #363637;
}

.articles h6 {
    margin-top: 20px;
    font-weight: bold;
}

.img-article {
    height: 200px;
    width: 100%;
}

#divTitle {
    text-align: center;
    padding-bottom: 20px;
}

.btn-articles {
    border-radius: 19px;
    background: linear-gradient(45deg, #e6e6e6, #ffffff);
    box-shadow: 13px -13px 29px #dedede,
    -13px 13px 29px #ffffff;
    color: gray;
    margin-bottom: 10px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-articles:hover {
    color: black;
}

.btn-articles:active {
    border-color: transparent;
}

.dropdown-menu.show {
    width: 130px;
    background-color: white;
    margin-top: 7px;
    border-radius: 10px;
    height: 80px;
}

.dropdown-menu.show a {
    font-size: 13px;
}

#dropdown-list {
    padding: 8px;
    margin: 0;
}

.dropdown-menu.show ul li a {
    border-color: transparent !important;
}

a:hover {
    text-decoration: none;
}

#div6 {
    background-image: url('../img/partners.png');
    background-size: cover;
    padding: 50px 50px 90px 50px;
    margin: auto;
    height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.26);
}

#div6 div h2 {
    text-align: center;
    margin-bottom: 50px;
    color: black;
}

.partners-cadre img {
    width: 130px;
    height: 130px;
    text-align: center;
}

.partners-cadre img:hover {
    filter: invert(0.7);
    transition: filter 0.3s linear;
}

#div7 {
    padding: 25px;
    text-align: center;
    height: 550px;
}

#div-iframe {
    border-right: lightgray 1px solid;
}

#div7 div iframe {
    border-style: none;
    border-radius: 15px;
    height: 400px;
}

#div-footer {
    background-color: #363637;
    font-family: "Raleway", sans-serif;
    padding: 20px;
}

#div-footer h6 {
    margin: 20px 20px 20px 0px;
    color: white;
}

.stores {
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.footer-links {
    font-size: 15px;
}

#row-social a {
    margin: auto;
    transition: 0.3s ease-in;
}

#row-social a:hover {
    color: white;
    opacity: initial;
}

#row-social {
    width: 80%;
    padding-top: 20px;
    margin:auto;
}

/*création des lignes entre les cols du footer*/
.footer-lign {
    border-right: black 1.5px solid;
    padding-left: 20px;
}

.sm-icons {
    color: white;
    opacity: 0.5;
}
.content.content-home{

    text-align:center;

}
footer{
    text-align: center;
}
p.footer-links {
    margin-left: -20px;
}
